<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
      <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      </form>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
      <%# ログインの有無で表示が変わるように分岐させましょう%>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname"  %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <li><%= link_to '会員登録変更', edit_user_registration_path, class: "edit" %></li>
      </ul>
      <% else %>
      <ul class='lists-right'>
        <li><%= link_to "ログイン", user_session_path, class: "post" %></li>
        <li><%= link_to "新規登録", new_user_registration_path, class: "post"%></li>
      </ul>
      <% end%>
    </ul>
  </div>
</header>
<div class='main1'>
  <div class ='left'>
    <%# 検索フォーム%>
    <div class = "title">
      商品を検索する
    </div>
    <ul class="search-list">
      <%= search_form_for @p, url:search_items_path  do |f| %>
        <li>
          <%= f.label :name_eq, '商品名:' %>
          <%= f.collection_select :name_eq, @item_name, :name, :name, include_blank: '指定なし' %>
        </li>
        <li>
          <%= f.label :category_id_eq, 'カテゴリー:' %>
          <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: '指定なし' %>
        </li>
        <li>
          <%= f.label :condition_id_eq, '商品の状態:' %>
          <%= f.collection_select :condition_id_eq, Condition.all, :id, :name, include_brank: '指定なし' %>
        </li>
    </ul>
    <ul class= "price">
      <%= f.label :price, '価格:' %>
        <li>
          <%= f.radio_button :price_lteq, '' %>
            指定なし
        </li>
        <li>
          <%= f.radio_button :price_lteq, '1000' %>
            1,000円以下
        </li>
        <li>
          <%= f.radio_button :price_lteq, '2000' %>
            2,000円以下
        </li>
        <li>
          <%= f.radio_button :price_lteq, '5000' %>
            5,000円以下</li>
        <li>
          <%= f.radio_button :price_lteq, '10000' %>
            10,000円以下</li>
        <li>
          <%= f.radio_button :price_lteq, '100000' %>
            100,000円以下</li>
        <br>
    </ul> 
      <div class="search-btn-contents">
        <%= f.submit "検索する", class:"search-btn" %>
      </div>
    <% end %>
  </div>
  <%# //検索フォーム%>
  
  <div class='right'>
    <%# 商品一覧 %>
    <div class='item-contents'>
      <h2 class='title'>商品一覧</h2>
        <ul class='item-lists'>
          <% if @item == nil %>
             <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
            <% @items.each do |item| %>
              <li class='list'>
                <%= link_to item_path(item.id) do %>
                  <div class='item-img-content'>
                    <%= image_tag item.image, class: "item-img" %>
          
                         <%# 商品が売れていればsold outの表示 %>
                      <% if item.order != nil %>
                        <div class='sold-out'>
                          <span>Sold Out!!</span>
                        </div>
                      <%end%>
                  </div>
                  <div class='item-info'>
                    <h3 class='item-name'>
                      <%= item.name %>
                    </h3>
                    <div class='item-price'>
                      <span><%= item.price %>円<br>(税込み)</span>
                      <div class='star-btn'>
                        <%= image_tag "star.png", class:"star-icon" %>
                          <span class='star-count'>0</span>
                      </div>
                    </div>
                  </div>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <%# 商品がない場合のダミー %>
            <%# 商品がある場合は表示されない %>
            <li class='list'>
              <%= link_to '#' do %>
              <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
              <div class='item-info'>
                <h3 class='item-name'>
                  商品を出品してね！
                </h3>
                <div class='item-price'>
                  <span>99999999円<br>(税込み)</span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
<%# //商品一覧 %>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
  <a href="/items/new">
    <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </a>
</div>
